/.phpunit.cache
.phpunit.cache
/node_modules
node_modules
/public/build
public/build
/public/hot
public/hot
/public/storage
public/storage
/storage/*.key
storage/*.key
/storage/pail
storage/pail
/vendor
vendor
.env
.env.backup
.env.production
.env.example
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
auth.json
/.fleet
.fleet
/.idea
.idea
/.nova
.nova
/.vscode
.vscode
/.zed
.zed
/admin_template
admin_template
/frontend_template
frontend_template
/uploads
uploads
/files
files
db_backup
/db_backup
