.ti {
	font-size: 20px;
}

i.ti.space {
	margin-right: 5px;
}

i.ti.space-left-15 {
	margin-left: 15px;
	/* color: rgb(224, 0, 0); */
}

.space-left-6 {
	margin-left: 6px;
}
.space-left-10 {
	margin-left: 10px;
}
.space-left-12 {
	margin-left: 12px;
}

.space-right-10 {
	margin-right: 10px;
}

select.form-control {
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
select.form-select[disabled] {
	cursor: default;
}

select:hover,
option:hover {
	cursor: pointer;
	background-color: #f0f8ff; /* Light blue background */
	color: #333; /* Dark text color for contrast */
	border-color: #87ceeb; /* Sky blue border */
	box-shadow: 0 0 5px rgba(135, 206, 235, 0.5); /* Subtle glow effect */
}

select.form-select[disabled]:hover {
	background-color: transparent;
	color: #333;
	border-color: #ddd;
	box-shadow: 0 0;
}

a > svg {
	transition: transform 0.2s ease-in-out, fill 0.2s ease-in-out; /* Ensure smooth transition back to original scale */
}

a > svg:hover {
	cursor: pointer;
	transform: scale(1.2); /* Slightly enlarge the SVG */
}

/* Styling fixes for course content creation */
.add_course_content_action_btn {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 5px 10px;
	position: absolute;
	top: 6px;
	right: 15px;
	z-index: 9;
}

.add_course_content .accordion-header {
	position: relative;
}

.item_list.chapter_sortable_list .list_item {
	position: relative;
}

.item_list.chapter_sortable_list.ui-sortable {
	list-style: none;
	border: 1px solid gray;
	padding: 14px;
	border-radius: 5px;
}

.chapter_sorter {
	position: relative;
	padding: 0.5rem;
	cursor: move;
	/* background-color: pink; */
	/* border-radius: 50px;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out; */
}

/* .chapter_sorter:hover { */
/* background-color: lightblue; */
/* } */

/* CERTIFICATE STYLES */
.card.certificate-builder {
	width: fit-content;
	height: fit-content;
}

.card-body.certificate-builder {
	background: lime;
	width: 930px;
	height: 600px;
	margin: 1rem;
	padding: 0;
}

#certificate_body {
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 100% !important;
	height: 100% !important;
}

#cert_title {
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
}

#cert_subtitle {
	font-size: 18px;
	font-weight: 400;
	display: inline-block;
	text-decoration: underline;
}

#cert_description {
	font-size: 16px;
	font-weight: 400;
	max-width: 75%;
}

#cert_signature {
	display: inline-block;
	object-fit: contain;
	max-width: 350px;
}

#cert_signature img {
	min-width: 150px;
	max-width: 350px;
	min-height: 100px;
	max-height: 150px;
}

.draggable_item {
	cursor: move;
}
