.wsus__sign_in {
	margin-top: 100px;
}

/* SELECT OPTIONS WEREN'T IN LINE WITH THE REST OF THE FIELDS  */
.wsus__dashboard_profile_update_info select.form-control {
	padding-block: 0.75rem;
	margin-top: 0.3rem;
}

.wsus__dashboard_content_border_top {
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
}
